@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5,#fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    max-width: 800px;
    width: 100%;
}

.pokemon__name{
    text-transform: capitalize;
}

.pokemon__image {
    position: absolute;
    top: 35%;
    left: 17%;
    height: 22%;
}

.pokemon__data {
    position: absolute;
    color: #222;
    font-weight: 700;
    top: 80%;
    left: 9%;
    font-size: clamp(2px, 3vh, 20px);
}

.form {
    position: absolute;
    width: 31.2%;
    top: 75%;
    left: 57.8%;
}

.input__search {
    width: 100%;
    padding: 3%;
    outline: none;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 1px 6px 0 #510C25, 6px 6px 0 #510C25 ;
}

.buttons {
    width: 10%;
    position: absolute;
    top: 60%;
    left: 60%;
}

.button {
    width: 50%;
    padding: 4%;
    color: #222;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 5px;
}

.buttons1{
    position: absolute;
    top: 76%;
    left: 31.1%;
    width:  8%;
    display: flex;
    gap: 30px;
}

.buttons-up{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 72%;
    left: 31.4%;
    width: 5%;
    gap: 30px;
    transform: rotate(180deg);
}

.buttons-down{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80%;
    left: 34%;
    width: 5%;
    gap: 30px;
}

button{
    width: 50%;
    align-items: center;
}

.img-button-l{
    width: 60%;
    transform: rotate(180deg);
}

.img-button-r{
    width: 60%;
}

.img-button-up{
    width: 50%;
    transform: rotate(90deg);
}

.img-button-down{
    width: 50%;
    transform: rotate(90deg);
}